mixin getContactForm()
  .superbus-form-wrapper
    .superbus-form-header Contact Information
    form.superbus-contact-form(action="/account" method="POST")
      .superbus-input-fields
        .superbus-name-fields
          label(for="firstname") First Name
          input(id="firstname" name="firstname" required)
          label(for="lastname") Last Name
          input(id="lastname" name="lastname" required)
        .superbus-contact-fields
          label(for="email") Email Address
          input(id="email" name="email" required)
          label(for="number") Phone Number
          input(id="number" name="number" required)
      .superbus-form-line
      button.superbus-reserve-button Book Now